<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Procesos Jobint</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
  <header>
    <div id="nav">
      <h1><a href="/">API Procesos</a></h1>
      <div id="links">
        <div class="padlink">
          <div class="dc">
            <a href="/draw">Client Journey</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/look">Looker Comercial</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/holis">Formularios Inbound</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/docs#link-de-pago">Documentación</a>
          </div>
        </div>
    </div>
  </header>
  </div>
  <main>
    <div style="margin-top:-10%; margin-left: 10%;position: relative; width: 80%; height: 80%; padding-top: 75.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 70%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGC0d5zHRE&#x2F;YprIsdXQrDhJEyYzWa7REA&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
  </main>
  <footer>
    <p>by cmendoza</p>
  </footer>
</body>
</html>
