<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Procesos Jobint</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
  <header>
    <div id="nav">
      <h1><a href="/">API Procesos</a></h1>
      <div id="links">
        <div class="padlink">
          <div class="dc">
            <a href="/draw">Client Journey</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/look">Looker Comercial</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/holis">Formularios Inbound</a>
          </div>
        </div>
        <div class="padlink">
          <div class="dc">
            <a href="/docs#link-de-pago">Documentación</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div style="margin-top:-10%; margin-left: 10%;position: relative; width: 80%; height: 80%; padding-top: 75.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 70%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&title=Client%20Journey.drawio#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1k0W_lf1EqoHxPbu6j-IgbkTp9VFX9yz4%26export%3Ddownload#%7B%22pageId%22%3A%22C5RBs43oDa-KdzZeNtuy%22%7D"
    allowfullscreen="allowfullscreen" allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
  </iframe>
</div>
  </main>
  <footer>
    <p>by cmendoza</p>
  </footer>
</body>
</html>
