<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Procesos Jobint</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <style>


  </style>
</head>
<header>
  <div id="nav">
    <h1><a href="/">API Procesos</a></h1>

    <div id="links">
      <div class="padlink">
        <div class="dc">
          <a href="/draw">Client Journey</a>
        </div>
      </div>
      <div class="padlink">
        <div class="dc">
          <a href="/look">Looker Comercial</a>
        </div>
      </div>
      <div class="padlink">
        <div class="dc">
          <a href="/holis">Formularios Inbound</a>
        </div>
      </div>
      <div class="padlink">
        <div class="dc">
          <a href="/docs#link-de-pago">Documentación</a>
        </div>
      </div>
  </div>
</header>
<body>
  
  <iframe id="look" width="1600" height="950" src="https://lookerstudio.google.com/embed/reporting/ea06f892-fa7e-4890-9bf4-beb1b10a8464/page/p_15m8w427ed" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
  <footer>
    <div class="centerfoot">
      <p><a href="/">Volver</a></p>      
      <p>by cmendoza</p>
    </div>
  </footer>

  <script>
    // Función para ajustar la altura del iframe
    function ajustarAlturaIframe() {
      var iframe = document.getElementById('looker-iframe');
      var alturaDeseada = 2000; // La altura que desees establecer en píxeles
      
      // Establecer la altura del iframe
      iframe.style.height = alturaDeseada + 'px';
    }

    // Llamamos a la función cuando el documento haya cargado completamente
    document.addEventListener('DOMContentLoaded', function() {
      ajustarAlturaIframe();
    });
  </script>

</body>
</html> 
